body {
  background-color: #043c4e;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  font-size: large;
}

header {
  background-color: #0FD5D9;

}

footer {
  background-color: #000000;
}

strong {
  font-weight: bold;
}

hr {
  border-top: 2px dashed #a6ff00;
  border-bottom: 0px;
  width: 40%;
  margin: 50px auto;
}

.tinyHr {
  border-top: 2px dashed #a6ff00;
  border-bottom: 0px;
  width: 20%;
  margin: 25px auto;
}

p {
  color: #ffffff;
  margin: 0 auto;
}

/*headers are found from this point*/
h1 {
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.4em;
  margin-top: 0;
  font-family: "Metal Mania", cursive;
  color: #ffffff;
  line-height: 2;
  text-shadow: 1px 2px rgba(0, 0, 0, 1);
}



h2 {
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  font-family: "New Rocker", cursive;
  color: #ffffff;
  text-shadow: 1px 2px rgba(0, 0, 0, 1);
}

h3 {
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
  font-family: "New Rocker", cursive;
  color: #ffffff;
  text-shadow: 1px 2px rgba(0, 0, 0, 1);
}

a {
  color: #ffffff;
  margin: 10px;
}



li {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: #FFFFFF
}

li a:hover {
  color: #050050
}

.copyright {
  margin: 20px;
  font-size: 80%;
}

/*containers are found from this point*/

.btn {
  left: auto;
  position: relative;
  bottom: 0px;
  margin-bottom: 5px;
}

.top-container {

  padding-top: 35px;
  position: relative;

  padding-bottom: 35px;
}

.profileSection {
  padding-top: 50px;
}

.profile {
  margin-left: 10%;
  margin-right: 10%;
}

.skills {
  margin-left: 10%;
  margin-right: 10%;
}

.formacion {
  margin: 0 10% 0 10%;
}

.comunication {
  margin: 0 10% 0 10%;
}


.bottom-container {
  background-color: black;
  color: white;
  padding-bottom: 20px
}

.contact-me {
  color: white;
  padding-top: 10px
}

.skill-row {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  line-height: 2;
  margin-bottom: 50px;
}

.BUTTON_OEW {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(top, #000000, #FFFFFF);
  background-image: -moz-linear-gradient(top, #000000, #FFFFFF);
  background-image: -ms-linear-gradient(top, #000000, #FFFFFF);
  background-image: -o-linear-gradient(top, #000000, #FFFFFF);
  background-image: -webkit-gradient(to bottom, #000000, #FFFFFF);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-family: Brush Script MT;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
  box-shadow: 1px 1px 20px 0 #FFFFFF;
  text-shadow: 1px 1px 20px #FFFFFF;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 20px
}

.BUTTON_OEW:hover {
  background: #ae00ff;
  border: solid #FFFFFF 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/*images are found from this point*/


.profile-img {
  padding: 5px;
  border: dashed 2px #ae00ff;
  border-radius: 25px;
  width: 15%;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .profile-img {
    width: 30%;
  }
}

.cook {
  float: left;
  margin-right: 25px;
  width: 30%
}

.music {
  border-radius: 50%;
  margin: 30px auto;
  float: right;
  margin-left: 25px;
  width: 30%;
}