* {
    margin: 0;
    padding: 0;
}

body {

    font-family: sans-serif;
}

h1,
h2,
h3 {
    font-family: "Metal Mania"
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width: 1000px) {

    .headerVideo {
        display: none;
    }

    header {
        background-image: url(../img/background/binary-code-stream-digital-data-codes-hacker-coding-crypto-matrix-numbers-flow-digitally-blue-screen-abstract-background_102902-991.webp);
        background-size: cover;
        background-position: center;


    }


}




/* header section--------------------------------------------------------------------------------*/

.headerVideo {
    z-index: -1;
    object-position: center;
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
}

.header {
    padding-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btnLink {
    text-decoration: none;
}

h1 {
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    font-size: 45px;
    z-index: 1;

}

h2 {
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.1em;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.myPic {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: solid 2px #ff6219;

}

.myName {
    animation-duration: 3s;
    animation-name: slidein;
}

.responsiveMyName {
    display: none;
}

@media (max-width: 700px) {
    .myName {
        display: none;
    }

    .responsiveMyName {
        display: block;
        animation-duration: 3s;
        animation-name: slidein;
    }

}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        font-size: 10px;
    }



    to {
        margin-left: 0%;
        width: 100%;
    }
}

button {

    background: transparent;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em;
    border: 0px;
    border-radius: 25px;
    padding: 10px;
    font-size: larger;
}



button:hover {
    background-color: hsl(0, 0%, 100%, 0.2);
    color: rgb(255, 255, 255);
    border: white 2px;

}


.navBar-container {
    display: flex;
    justify-content: center;
}

.navBar {
    padding-top: 30px;
    display: inline-block;
    text-align: right;
    position: relative;

}



/* projects section----------------------------------------------------------------------------------------------- */

#projects {
    background-color: #043c4e;
    padding-bottom: 50px;
    text-align: center;
}

.container-fluid img {
    text-align: center;
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 200px;
    border-radius: 15%;
    border: solid 2px #0FD5D9;
    object-fit: cover;





}

.hidden {
    position: relative;

}




/* HIDDEN HOOOVERS**********************************************/

.hiddenDiv {
    background-color: rgb(0, 50, 68, 0.5);
    font-size: larger;
    position: absolute;
    padding: 10px;
    width: 300px;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0;

}

.hidden:hover .hiddenDiv {
    opacity: 1;
}

.hidden--tindog {
    margin-top: 45px
}

.hidden--cocinasDelMundo {
    margin-top: 32px;
}

.hidden--compraloYa {
    margin-top: 32px;
}

.hidden--electroStore {
    margin-top: 23px;
}

.hidden--presupuestoWeb {
    margin-top: 32px;
}



/* skills section********************************************************************************* */

#skills {
    background-color: #0FD5D9;
}

.containerSkills {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.skill {
    margin: 15px;
}

.skill img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    padding: 5px;
    border: dashed 2px rgb(141, 54, 255);


}

/* this is my contact section  *******************************************************/


#contact {
    text-align: center;
}

#contact img {
    text-align: center;
    margin: 25px;
    width: 50px;
    height: 50px;
}

/* this is my footer section********************************************************************** */

footer {
    text-align: center;
    padding: 20px;

    background-color: #00141b;
    color: aquamarine;
    text-shadow: rgb(179, 102, 2) 0.1em 0.1em 0.1em;
}